{%extends 'index.html' %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% load crispy_forms_tags %}
{%block content%}
    <div class="form-group">
        <form action="exampage/" method="POST">
            {%csrf_token%}
            <p> Please click start test to start the exam</p>
            <br>
            <input type="submit" value="Start test" >
        </form>
    </div>

{%endblock%}